.reveal {
  position: relative;
  z-index: 3;
  margin-top: 100vh;
  background: #000;
  color: white;
}

.sticky-logo {
  position: sticky;

  top: 50%;

  transform: translateY(-50%);

  width: min(66vw, 800px);

  display: block;

  margin: auto;
  will-change: transform, opacity;
}

.sticky-logo-wrapper {
  height: 170vh;

  position: relative;
}

.reveal-overlay {
  position: fixed;

  inset: 0;

  background: black;

  opacity: 0;

  pointer-events: none;

  z-index: 10;
}
